// svg
.zy-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    width: 24px;
    height: 24px;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

// select
.zy-select{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  vertical-align: middle;
  .vs-placeholder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    &::after{
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }
  .vs-input{
    height: 30px;
    input{
      border: none;
      width: 200px;
      height: 30px;
      text-indent: 22px;
      background-color: #ffffff00;
      outline: none;
    }
  }
  .vs-noAfter{
    &::after{
      display: none;
    }
  }
  .vs-options{
    z-index: 2;
    width: 100%;
    overflow-y: auto;
    min-height: 0;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 25px;
      }
    }
  }
}
.zy-input{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 200px;
  height: 30px;
  cursor: pointer;
  input{
    vertical-align: bottom;
    position: relative;
    border: none;
    width: 20px;
    height: 15px;
    background-color: #ffffff00;
    text-indent: 10px;
  }
}
// scroll
.zy-scroll{
  &::-webkit-scrollbar{
    width: 10px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    position: absolute;
  }
}

// Page of list using el-table
.listpage{
  position: absolute;
  left: 80px;
  right: 20px;
  top: 40px;
  bottom: 20px;
  width: calc(100% - 100px);
  height: calc(100% - 60px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .listpage-header, .toolbar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    .header-box{
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .el-button{
      font-size: 1rem;
      border: none;
      &:hover{
        cursor: pointer;
      }
    }
    .el-autocomplete{
      .el-input-group__prepend{
        border: none;
        .el-select{
          width: 100px;
          .el-input, .el-input__inner{
            width: 100%;
            border: none;
          }
        }
      }
      .el-input .el-input__inner{
        width: 200px;
      }
      .el-input-group__append{
        border: none;
      }
    }
    .is-loading:before {
      background-color: none !important;
    }
    .el-input{
      font-size: 1rem;
      width: 200px;
    }
    .popper {
      font-size: 1rem;;
      border: none;
      li {
        font-size: 1rem;
        border: none;
      }
      .el-select-dropdown__item.selected.hover{ //是上游的bug吗？临时性修补
        background-color: transparent;
      }
      .el-select-dropdown__wrap{
        max-height: 574px
      }
    }
    > span{
      .el-input-number{
        width:120px;
        .el-input{
          width: 100px;
        }
        .el-input__inner{
          padding-left: 5px;
          padding-right: 5px;
          width: 88px;
        }
        .el-input-number__increase, .el-input-number__decrease {
          background-color: inherit;
          border: none;
        }
      }
    }
  }
  .el-divider{
    .el-divider--horizontal{
      margin: 12px 0;
    }
  }
  .toolbar{
    z-index: 5;
  }
  .listpage-body{
    height: calc(100% - 60px);
    overflow-y: auto;
    position: relative;
    font-size: 1rem;
    &::-webkit-scrollbar{
      width: 5px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      position: absolute;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      position: absolute;
    }
    .show-table{
      height: 100%;
      width: 100%;
      .el-table::before{
        height: 0px;
      }
      .el-table{
        height: 100%;
        width: 100%;
        overflow: hidden;
        font-size: 1rem;
      }
      .el-table__body-wrapper{
        height: 100%;
        width: 100%;
        &::-webkit-scrollbar{
          width: 5px;
          height: 1px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          position: absolute;
        }
        &::-webkit-scrollbar-track {
          border-radius: 10px;
          position: absolute;
        }
      }
      .disableExpand div.el-table__expand-icon{
        display: none;
      }
      .el-input{
        width: 200px;
      }
      .el-table__body td,.el-table__body th{
        border-bottom: 1px solid;
      }
      .el-table--enable-row-hover .el-table__body tr:hover>td{
        transform: scale(1.02);
      }
      .el-table .highlight{
        color: var(--highlight-color) !important;
      }
      .el-button{
        font-size: 1rem;
      }
    }
    .show-picture{
      height: 100%;
      width: 100%;
      padding: 10px;
      .card{
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          width: 102%;
          height: 102%
        }
        .img{
          position: relative;
          min-height: 40px;
          img{
            width: 100%;
            height: auto;
            cursor: pointer;
          }
          .rate{
            position: absolute;
            top: 3%;
            right: -40%;
            width: 100%;
            background-color: #111111aa;
            color:#2f90b9;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            font-weight: bolder;
            text-align: center;
            transform: rotate(45deg);
          }
          .site{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            background-color: #111111aa;
            color:#2f90b9;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            font-weight: bolder;
            text-align: center;
          }
          .progress{
            position: absolute;
            bottom: 10%;
            left: 0%;
            width: 40%;
            background-color: #111111aa;
            color: #f8df70;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            font-weight: bolder;
            text-align: left;
          }
          .update{
            position: absolute;
            top: 5%;
            left: -40%;
            width: 100%;
            background-color: #68b88e;
            color: #cdcdcd;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            transform: rotate(-45deg);
          }
          .operate{
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #111111aa;
            width: 100%;
            font-size: 13px;
            .operate-wrap{
              display: flex;
              justify-content: space-between;
              .o-play, .o-star, .o-share{
                cursor: pointer;
                display: inline-block;
                width: 80px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                color: #cdcdcd;
                &:hover{
                  background-color: #111;
                }
              }
            }
          }
        }
        .name{
          font-size: 16px;
          padding: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .info{
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          padding: 10px;
        }
        &:hover{
          .operate{
            display: block;
          }
        }
      }
    }
  }
}

// loading
.zy-loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    font-size: 8px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: load4 1.3s infinite linear;
    transform: translateZ(0);
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
}

// detail
.detail{
  .detail-content{
    .detail-body{
      .m3u8{
        .show-picture{
          height: 100%;
          width: 100%;
          padding: 10px;
          .card{
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              width: 102%;
              height: 102%
            }
            .img{
              position: relative;
              min-height: 40px;
              img{
                width: 100%;
                height: auto;
                cursor: pointer;
              }
              .rate{
                position: absolute;
                top: 3%;
                right: -40%;
                width: 100%;
                background-color: #111111aa;
                color:#2f90b9;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                font-weight: bolder;
                text-align: center;
                transform: rotate(45deg);
              }
              .site{
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                background-color: #111111aa;
                color:#2f90b9;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                font-weight: bolder;
                text-align: center;
              }
              .progress{
                position: absolute;
                bottom: 10%;
                left: 0%;
                width: 40%;
                background-color: #111111aa;
                color: #f8df70;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                font-weight: bolder;
                text-align: left;
              }
              .update{
                position: absolute;
                top: 5%;
                left: -40%;
                width: 100%;
                background-color: #68b88e;
                color: #cdcdcd;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                text-align: center;
                transform: rotate(-45deg);
              }
              .operate{
                display: none;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: #111111aa;
                width: 100%;
                font-size: 13px;
                .operate-wrap{
                  display: flex;
                  justify-content: space-between;
                  .o-play, .o-star, .o-share{
                    cursor: pointer;
                    display: inline-block;
                    width: 80px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    color: #cdcdcd;
                    &:hover{
                      background-color: #111;
                    }
                  }
                }
              }
            }
            .name{
              font-size: 16px;
              padding: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .info{
              display: flex;
              justify-content: space-between;
              font-size: 12px;
              padding: 10px;
            }
            &:hover{
              .operate{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}