// svg
.zy-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    width: 24px;
    height: 24px;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

// select
.zy-select{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
  user-select: none;
  vertical-align: middle;
  .vs-placeholder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    &::after{
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }
  .vs-input{
    height: 30px;
    input{
      border: none;
      width: 200px;
      height: 30px;
      text-indent: 22px;
      background-color: #ffffff00;
      outline: none;
    }
  }
  .vs-noAfter{
    &::after{
      display: none;
    }
  }
  .vs-options{
    z-index: 2;
    width: 100%;
    overflow-y: auto;
    min-height: 0;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 25px;
      }
    }
  }
}
.zy-input{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 200px;
  height: 30px;
  cursor: pointer;
  input{
    vertical-align: bottom;
    position: relative;
    border: none;
    width: 20px;
    height: 15px;
    background-color: #ffffff00;
    text-indent: 10px;
  }
}
.zy-highlighted{
  color: var(--highlight-color);
}
// table
.zy-table{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 15px;
  .tHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid;
    .btn{
      user-select: none;
      margin-left: 15px;
      margin-right: 15px;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .tBody{
    flex: 1;
    border-bottom: 1px solid;
    overflow: auto;
    .el-table__row td{
      border: none;
    }
    .el-table::before{
      height: 0px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 50px;
        border-bottom: 1px solid;
        cursor: pointer;
        span{
          display: flex;
          font-size: 13px;
          height: 50px;
          line-height: 50px;
          overflow: hidden;
          margin-right: 5px;
          &.name{
            flex: 1;
            min-width: 100px;
            white-space: nowrap;
            margin-left: 10px;
          }
          &.type{
            width: 10%;
          }
          &.time{
            width: 10%;
          }
          &.last{
            width: 10%;
          }
          &.site{
            width: 10%;
          }
          &.note{
            width: 10%;
          }
          &.operate{
            .btn{
              width: 40px;
            }
          }
        }
      }
    }
  }
}
// scroll
.zy-scroll{
  &::-webkit-scrollbar{
    width: 5px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    position: absolute;
  }
}

// Page of list using el-table
.listpage{
  position: absolute;
  left: 80px;
  right: 20px;
  top: 40px;
  bottom: 20px;
  width: calc(100% - 100px);
  height: calc(100% - 60px);
  border-radius: 5px;
  .listpage-content{
    height: 100%;
    position: relative;
    font-size: 1rem;
    .listpage-header{
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
      .el-button{
        font-size: 1rem;
        border: none;
        &:hover{
          cursor: pointer;
        }
      }
      .el-input{
        width: 200px;
      }
    }
    .listpage-body{
      height: calc(100% - 40px);
      overflow-y: auto;
      .el-table::before{
        height: 0px;
      }
      .el-table{
        height: 100%;
        width: 100%;
        overflow-y: auto;
        font-size: 1rem;
      }
      .el-input{
        width: 200px;
      }
      .el-table__body td,.el-table__body th{
        border-bottom: 1px solid;
      }
      .el-table--enable-row-hover .el-table__body tr:hover>td{
        transform: scale(1.02);
      }
      .el-table .highlight{
        color: var(--highlight-color) !important;
      }
      .el-button{
        font-size: 1rem;
      }
    }
  }
}
// loading
.zy-loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    font-size: 8px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: load4 1.3s infinite linear;
    transform: translateZ(0);
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
}

.el-table, .el-table__body-wrapper{
  &::-webkit-scrollbar{
    width: 5px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    position: absolute;
  }
}