:root{
  // general
  --highlight-color:#1677b3;
  // light
  --l-c-0: #823aa0;
  --l-c-1: #823aa011;
  --l-c-2: #823aa022;
  --l-c-3: #823aa033;
  --l-c-5: #823aa055;
  --l-c-8: #823aa088;
  --l-c-9: #823aa099;
  --l-fc-1: #808695;
  --l-fc-2: #332f5c;
  --l-fc-3: #823aa0;
  --l-bgc-1: #ffffff;
  --l-bgc-2: #f2f6f9;
  --l-bgc-3: #F9FBFC;
  --l-bsc: 0 1px 3px #8e8da233, 0 1px 2px #8e8da244;
  --l-bsc-hover: 0 14px 28px #8e8da255, 0 10px 10px #8e8da244;
  --l-bsc-2: 0 -4px 23px 0 #8e8da233;
  --l-bsc-scroll: inset 0 0 5px #823aa000;

  // dark
  --d-c-0: #38dd77;
  --d-c-1: #38dd7711;
  --d-c-2: #38dd7722;
  --d-c-3: #38dd7733;
  --d-c-5: #38dd7755;
  --d-c-8: #38dd7788;
  --d-c-9: #38dd7799;
  --d-fc-1: #808695;
  --d-fc-2: #acacac;
  --d-fc-3: #38dd77;
  --d-bgc-1: #222222;
  --d-bgc-2: #2f2f2f;
  --d-bgc-3: #292929;
  --d-bsc: 0 1px 3px #38dd7733, 0 1px 2px #38dd7744;
  --d-bsc-hover: 0 14px 28px #38dd7755, 0 10px 10px #38dd7744;
  --d-bsc-2: 0 -4px 23px 0 #38dd7733;
  --d-bsc-scroll: inset 0 0 5px #38dd7705;

  // green
  --g-c-0: #EAEF9D;
  --g-c-1: #EAEF9D11;
  --g-c-2: #EAEF9D22;
  --g-c-3: #EAEF9D33;
  --g-c-5: #EAEF9D55;
  --g-c-8: #EAEF9D88;
  --g-c-9: #EAEF9D99;
  --g-fc-1: #ffffff;
  --g-fc-2: #d2dedc;
  --g-fc-3: #C1D95C;
  --g-bgc-1: #4baea0;
  --g-bgc-2: #74b4ac;
  --g-bgc-3: #60B1A6;
  --g-bsc: 0 1px 3px #e1ebe033, 0 1px 2px #e1ebe044;
  --g-bsc-hover: 0 14px 28px #e1ebe055, 0 10px 10px #e1ebe044;
  --g-bsc-2: 0 -4px 23px 0 #e1ebe033;
  --g-bsc-scroll: inset 0 0 5px #e1ebe005;

  // pink
  --p-c-0: #f4f7f7;
  --p-c-1: #f4f7f711;
  --p-c-2: #f4f7f722;
  --p-c-3: #f4f7f733;
  --p-c-5: #f4f7f755;
  --p-c-8: #f4f7f788;
  --p-c-9: #f4f7f799;
  --p-fc-1: #ffffff;
  --p-fc-2: #FFFFF3;
  --p-fc-3: #177ea7;
  --p-bgc-1: #ff8499;
  --p-bgc-2: #fea1b2;
  --p-bgc-3: #FF93A6;
  --p-bsc: 0 1px 3px #ef528533, 0 1px 2px #ef528544;
  --p-bsc-hover: 0 14px 28px #ef528555, 0 10px 10px #ef528544;
  --p-bsc-2: 0 -4px 23px 0 #ef528533;
  --p-bsc-scroll: inset 0 0 5px #ef528505;
}

@import './theme/light.scss';
@import './theme/dark.scss';
@import './theme/green.scss';
@import './theme/pink.scss';

@import './style.scss';
