.detail{
  padding: 10px;
  .detail-box{
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
    .vodImg{
      width: 200px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .vodInfo{
      flex: 1;
      overflow: hidden;
      margin-left: 20px;
      .vodh{
        h2{
          display: inline-block;
        }
        span{
          font-size: 12px;
          color: #999;
          margin-left: 10px;
        }
        label{
          font-size: 20px;
          font-weight: bold;
          color: #f90;
          margin-left: 20px;
        }
      }
      li{
        list-style: none;
        font-size: 12px;
        color: #666;
        height: 20px;
        overflow: hidden;
        a{
          pointer-events: none;
        }
      }
    }
  }
}