.theme-green{
  background-color: var(--g-bgc-1);
  .el-pagination{
    background-color: var(--g-bgc-1);
    color: var(--g-fc-1);
    .el-pagination__total, .el-pagination__jump, .el-input__inner{
      color: var(--g-fc-1);
      background-color: var(--g-bgc-1);
    }
    .el-input__inner{
      border-color: var(--g-c-3);
    }
    .el-pager{
      .number{
        background-color: var(--g-bgc-1);
      }
      .number:hover{
        color: var(--g-c-8);
      }
      .active{
        color: var(--g-c-9);
      }
    }
    .more, .btn-next, .btn-prev{
      background-color: var(--g-bgc-1);
      &:hover{
        color: var(--g-c-8);
      }
    }
  }
  .zy-select{
    color: var(--g-fc-1);
    background-color: var(--g-bgc-1);
    box-shadow: var(--g-bsc);
    &:hover{
      box-shadow: var(--g-bsc-hover);
    }
    .vs-options{
      background-color: var(--g-bgc-1);
      box-shadow: var(--g-bsc);
      ul{
        li{
          &:hover{
            background-color: var(--g-c-1);
          }
          &.active{
            background-color: var(--g-c-3);
          }
        }
      }
    }
  }
  .zy-table{
    color: var(--g-fc-2);
    .tHead{
      background-color: var(--g-bgc-1);
      border-bottom-color: var(--g-c-3);
    }
    .tBody{
      border-bottom-color: var(--g-c-3);
      ul{
        li{
          border-bottom-color: var(--g-c-2);
          &:hover{
            animation: d-tableHoverAni 0.2s ease both;
            @keyframes d-tableHoverAni {
              to{
                box-shadow: var(--g-bsc-hover);
              }
            }
          }
          span{
            &.btn:hover{
              color: var(--g-fc-3)
            }
          }
        }
      }
    }
    .tFooter{
      .tFooter-span{
        color: var(--g-fc-1);
      }
    }
  }
  .zy-scroll{
    &:hover{
      &::-webkit-scrollbar-thumb {
        box-shadow: var(--g-bsc-scroll);
        background: var(--g-c-3);
      }
      &::-webkit-scrollbar-track {
        box-shadow: var(--g-bsc-scroll);
        background: var(--bgc);
      }
    }
  }
  .zy-loading{
    .loader{
      color: var(--g-c-3);
    }
  }
  .zy-body{
    background-color: var(--g-bgc-2);
  }
  .aside{
    .zy-svg{
      svg{
        stroke: var(--g-c-0);
      }
      &:hover{
        background-color: var(--g-c-2);
      }
      &.active{
        svg{
          stroke: var(--g-c-0);
          stroke-width: 2;
          fill: var(--g-c-2);
        }
      }
    }
  }
  .frame{
    span{
      &.min{
        background-color: #ffbe2a;
      }
      &.close{
        background-color: #ff5f56;
      }
    }
  }
  .detail{
    color: var(--g-fc-1);
    background-color:var(--g-bgc-1);
    box-shadow: var(--g-bsc-2);
    .detail-content{
      .detail-close{
        svg{
          stroke-width: 1;
          stroke: var(--g-c-8);
          &:hover{
            stroke-width: 2px;
            stroke: var(--g-c-9);
          }
        }
      }
      .detail-body{
        .info, .desc, .m3u8_urls, .mp4_urls{
          border-color: var(--g-c-2);
        }
        .m3u8_urls, .mp4_urls{
          .box{
            span{
              border-color: var(--g-c-5);
              &:hover{
                color: var(--g-fc-2);
                background-color: var(--g-c-1);
                border-color: var(--g-c-8);
              }
            }
          }
        }
      }
    }
  }
  .film{
    .top{
      .search{
        background-color: var(--g-bgc-1);
        box-shadow: var(--g-bsc);
        &:hover{
          box-shadow: var(--g-bsc-hover);
        }
        svg{
          stroke: var(--g-c-0);
          stroke-width: 1;
          fill: none;
        }
        .search-box{
          background-color: var(--g-bgc-1);
        }
        &.active{
          box-shadow: var(--g-bsc-hover);
          svg{
            stroke-width: 1.5;
            fill: var(--g-c-2);
          }
        }
        input{
          color: var(--g-fc-1);
        }
      }
    }
    .middle{
      background-color: var(--g-bgc-1);
      box-shadow: var(--g-bsc);
    }
  }
  .play{
    background-color: var(--g-bgc-1);
    box-shadow: var(--g-bsc);
    .title{
      color: var(--g-fc-1);
    }
    .box{
      .more{
        span{
          svg{
            stroke: var(--g-c-5);
            stroke-width: 1;
            fill: none;
          }
          &:hover{
            svg{
              stroke: var(--g-c-8);
              stroke-width: 1.5;
              fill: var(--g-c-2);
            }
          }
          &.active{
            svg{
              stroke: var(--g-c-9);
              stroke-width: 2;
              fill: var(--g-c-3);
            }
          }
        }
      }
    }
    .list{
      border: 1px solid var(--g-c-3);
      background-color: var(--g-bgc-2);
      .list-top{
        color: var(--g-fc-2);
        .list-top-close{
          svg{
            stroke: var(--g-c-5);
            stroke-width: 1;
            fill: none;
            &:hover{
              stroke: var(--g-c-8);
              stroke-width: 1.5;
              fill: var(--g-c-2);
            }
          }
        }
      }
      .list-body{
        .list-item{
          li{
            color: var(--g-fc-1);
            &.active{
              background-color: var(--g-c-2);
              color: var(--g-fc-3);
            }
          }
        }
        .list-history{
          li{
            .title{
              color: var(--g-fc-1);
            }
            &.active{
              background-color: var(--g-c-2);
              .title{
                color: var(--g-fc-3);
              }
            }
            &:hover{
              background-color: var(--g-c-3);
              .detail-delete{
                display: inline-block;
                color: var(--g-fc-2);
              }
            }
            .detail-delete{
              &:hover{
                background-color: var(--g-c-2);
              }
            }
          }
        }
      }
    }
    .play-mask{
      background-color: var(--g-bgc-1);
      color: var(--g-fc-1);
    }
  }
  .star{
    background-color: var(--g-bgc-1);
    box-shadow: var(--g-bsc);
  }
  .setting{
    background-color: var(--g-bgc-1);
    box-shadow: var(--g-bsc);
    .info{
      a{
        color: var(--g-fc-1);
        &:hover{
          color: var(--g-fc-2);
        }
      }
    }
    .theme{
      .title{
        color: var(--g-fc-1);
      }
      .theme-item{
        box-shadow: var(--g-bsc);
        &:hover{
          box-shadow: var(--g-bsc-hover);
          .theme-name{
            color: var(--g-fc-2)
          }
        }
        .theme-name{
          color: var(--g-fc-1);
        }
      }
    }
    .qrcode{
      .title{
        color: var(--g-fc-1);
      }
      .qrcode-item{
        box-shadow: var(--g-bsc);
      }
    }
  }
  .share{
    background-color: var(--g-bgc-1);
    color: var(--g-fc-1);
    border: 1px solid var(--g-c-8);
    .right{
      color: var(--g-fc-1);
      .tops{
        color: var(--g-fc-2);
      }
    }
    .share-mask{
      background-color: var(--g-bgc-1);
    }
  }
}
