.theme-dark{
  color: var(--d-c); 
  background-color: var(--d-bgc);
  .el-button, input, select, .el-select{
    color: var(--d-c);
    background-color: var(--d-bgc);
    border-color: var(--d-bdc);
  }
  .el-button--text{
    border: none;
  }
  .el-tabs__item, .el-tabs__nav-wrap::after{
    color: var(--d-c);
    background-color: var(--d-bgc);
    border-color: var(--d-dbc);
  }
  .el-table, .el-table th, .el-table tr,
  .el-table--striped .el-table__body tr.el-table__row--striped td,
  .el-table--enable-row-hover .el-table__body tr:hover>td,
  .el-table td, .el-table th.is-leaf{
    color: var(--d-c);
    background-color: var(--d-bgc);
    border-color: var(--d-dbc);
  }
  .el-pagination, .el-pagination .el-pagination__total, .el-pagination .el-pagination__jump,
  .el-pagination .btn-next, .el-pagination .btn-prev, .el-pager li{
    color: var(--d-c);
    background-color: var(--d-bgc);
  }
  .el-input__inner,
  .el-input-group__append, .el-input-group__prepend{
    background-color: var(--d-bgc);
    border-color: var(--d-dbc);
  }
  .el-select-dropdown{
    color: var(--d-c);
  }
  .el-drawer{
    background-color: var(--d-bgc) !important;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 0px;
    }
  }
  .Header, .Aside{
    i{
      color: var(--d-icon);
      &:hover{
        color: var(--d-icon-h);
        background-color: var(--d-bgc-h);
      }
    }
  }
  .Aside{
    i{
      &.active{
        color: var(--d-icon-h);
        background-color: var(--d-bgc-h);
        border-left: 4px solid var(--d-icon-h);
      }
    }
  }
  .Main{
    .film, .search, .star, .player{
      .table-box{
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px var(--d-bdc);
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--d-icon);
          outline: 1px solid var(--d-icon);
        }
      }
    }
    .setting{
      .el-link, .card{
        color: var(--d-c);
        background-color: var(--d-bgc);
        border-color: var(--d-bdc);
      }
    }
  }
  .detail{
    color: var(--d-c);
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px var(--d-bdc);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--d-icon);
      outline: 1px solid var(--d-icon);
    }
    .box, .info, .urls{
      border: 1px solid var(--d-bdc);
    }
    .vodInfo{
      li, span, a{
        color: var(--d-c);
      }
      label{
        color: #f90;
      }
    }
  }
}