:root{
  // light
  --l-c: #808695;
  --l-c-h: #515a6e;
  --l-icon: #C0C4CC;
  --l-icon-h: #515a6e;
  --l-bgc: #ffffff;
  --l-bgc-h: #efefef;
  --l-bdc: #dcdee2;

  // dark
  --d-c: #919191;
  --d-c-h: #454545;
  --d-icon: #919191;
  --d-icon-h: #919191;
  --d-bgc: #242424;
  --d-bgc-h: #454545;
  --d-bdc: #7a7a7a;
}