:root{
  // light
  --l-c: #808695;
  --l-c-h: #515a6e;
  --l-icon: #C0C4CC;
  --l-icon-h: #515a6e;
  --l-bgc: #ffffff;
  --l-bgc-h: #efefef;
  --l-bdc: #dcdee2;

  // dark
  --d-c: #919191;
  --d-c-h: #454545;
  --d-icon: #919191;
  --d-icon-h: #919191;
  --d-bgc: #242424;
  --d-bgc-h: #454545;
  --d-bdc: #7a7a7a;

  // pink
  --p-c: #ffffff;
  --p-c-h: #fd7792;
  --p-icon: #ffffff;
  --p-icon-h: #fd7792;
  --p-bgc: #ffbaba;
  --p-bgc-h: #ffc5c5;
  --p-bdc: #fdcfcf;

  // green
  --g-c: #ffffff;
  --g-c-h: #ebe65b;
  --g-icon: #ffffff;
  --g-icon-h: #ebe65b;
  --g-bgc: #4baea0;
  --g-bgc-h: #6db8ac;
  --g-bdc: #76d3c5;
}