.theme-light{
  color: var(--l-c); 
  background-color: var(--l-bgc);
  .el-table, .el-tabs__item, .btn-next, input{
    color: var(--l-c);
  }
  .el-pagination, .el-pagination .el-pagination__total, .el-pagination .el-pagination__jump,
  .el-pagination .btn-next, .el-pagination .btn-prev{
    color: var(--l-c);
  }
  .el-drawer{
    overflow: auto;
    &::-webkit-scrollbar{
      width: 0px;
    }
  }
  .Header, .Aside{
    i{
      color: var(--l-icon);
      &:hover{
        color: var(--l-icon-h);
        background-color: var(--l-bgc-h);
      }
    }
  }
  .Aside{
    i{
      &.active{
        color: var(--l-icon-h);
        background-color: var(--l-bgc-h);
        border-left: 4px solid var(--l-icon-h);
      }
    }
  }
  .Main{
    .film, .search, .star, .player, .setting{
      .table-box{
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px var(--l-bdc);
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--l-icon);
          outline: 1px solid var(--l-icon);
        }
      }
    }
    .setting{
      .el-link, .card{
        color: var(--l-c);
      }
    }
  }
  .detail{
    color: var(--l-c);
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px var(--l-bdc);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--l-icon);
      outline: 1px solid var(--l-icon);
    }
    .box, .info, .urls{
      border: 1px solid var(--l-bdc);
    }
    .vodInfo{
      li, span, a{
        color: var(--l-c);
      }
      label{
        color: #f90;
      }
    }
  }
}