.light{
  .sider,.header,.content{
    background-color: #fff;
    color: #000;
  }
  .sider{
    border-right: 1px solid #dcdee2;
    .sider-box{
      color: #808695;
      i{
        &:hover{
          color: #515a6e;
          background-color: #efefef;
          border-right: 1px solid #808695;
        }
        &.active{
          color: #515a6e;
          background-color: #efefef;
          border-left: 2px solid #515a6e;
        }
      }
    }
  }
}